nav{
  height: 50px;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  color: #fed136;
  font-family: 'Kaushan Script', cursive;
  margin-left: 20px;
  font-size: 1.25rem;
}

#button-container{
  width: 500px;
  display: flex;
  align-content: center;
  margin-right: 20px;
  justify-content: space-between;
}

.button{
  width: 80px;
  text-align: center;
  padding: 10px 0px;
  color: white;
}

.nav-toggler{
  font-size: 12px;
  margin-right: 20px;
  padding: 13px;
  color: white;
  background-color: #fed136;
}

img{
  width: 100%;
}

.hide-animation{
  animation-name: hide;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.show-animation{
  animation-name: show;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hide {
  0%{
    height: 100px;
  }
  100%{
    height: 0px;
  }
}

@keyframes show {
  0%{
    height: 0px;
  }
  100%{
    height: 100px;
  }
}

@media (min-width: 750px){
  .nav-toggler{
    display: none;
  }
}

@media (max-width: 750px){
  #button-container{
    display: none;
  }
}